.changePassModalContent {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 360px;
  border-radius: 10px;
  position: relative;
}

.changePassModalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.passInputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 25px;
}

.modalTitle {
  font-weight: bold;
  font-size: 18px;
}

.passInputs input {
  background-color: #dbdbdb;
  border: none;
  padding: 12px;
  font-weight: 500;
  border-radius: 5px;
}

.changePassBTN {
  background-color: #89e88c;
  border: none;
  font-weight: 600;
  color: white;
  padding: 12px 30px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2);
}

.line {
  border: none;
  border-top: 2px solid #ff68f0;
  margin: 0;
  width: 33%;
  margin-bottom: 20px;
}

.backToSettings {
  font-size: 11px;
  font-weight: 600;
  color: #ff68f0;
  margin-bottom: 0px;
  cursor: pointer;
}

.closeButton {
  width: 23px;
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}
