.homePage {
  background-color: rgb(18, 18, 18);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 20px; /* space at bottom to avoid cutoff */
}

.statCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.userGreetings {
  color: white;
  font-size: 20px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.recent_Controls {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 13px;
  justify-content: center;
}

.chart {
  display: flex;
  align-items: center;
  justify-content: center;
}
