.homePage {
  background-color: rgb(18, 18, 18);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 20px; /* space at bottom to avoid cutoff */
}

.statCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.userGreetings {
  color: white;
  font-size: 20px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.recent_Controls {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 13px;
  justify-content: center;
}

.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.userProfile img {
  width: 50px;
  height: 50px;
  border: 2px solid #89e88c;
  object-fit: cover;
}

.userProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.usernameProfile {
  color: rgb(201, 201, 201);
  font-weight: 600;
}
