@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Ensure full height is available */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.body {
  background-color: rgb(30, 29, 49);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.icon {
  margin-bottom: 30px;
  max-width: 350px;
  margin-left: 10px;
}

.pageName {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
}

.description {
  color: white;
  font-weight: 500;
  margin-top: 5px;
  font-size: 1.3rem;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.registerBTN {
  background-color: rgb(181, 243, 248);
  border: none;
  width: 130px;
  height: 45px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.registerBTN:hover {
  background-color: hsl(184, 83%, 74%);
}

.loginBTN {
  background-color: rgb(230, 215, 248);
  border: none;
  width: 130px;
  height: 45px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.loginBTN:hover {
  background-color: hsl(267, 70%, 81%);
}
