.profilePic {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  object-fit: cover;
}

.profileWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
}

.username {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.email {
  color: #b4b4b4;
  margin-top: 0px;
  font-size: 13px;
}

.editBtn {
  background-color: #3e3b77;
  color: white;
  border: none;
  font-size: 15px;
  padding: 7px 20px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}
