.controlsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.controlsWrapper {
  display: flex;
  flex-direction: column;
  background-color: #1e1d31;
  width: 120px;
  height: 270px;
  margin-top: 0px;
  border-radius: 14px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.newExpense,
.addBalance {
  background-color: #303030;
  width: 95px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  cursor: pointer;
}

.newExpenseIcon {
  width: 60px;
  background-color: #ff8c8c;
  padding: 10px;
  border-radius: 30px;
}

.newBalanceIcon {
  width: 60px;
  background-color: #8cffc0;
  padding: 10px;
  border-radius: 30px;
}

.label {
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  font-size: 10px;
  font-weight: 500;
}

.groupLabel {
  color: white;
  font-size: 13px;
  text-align: center;
  width: 120px;
  margin-top: 8px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .controlsWrapper {
    min-width: 270px;
    min-height: 320px;
  }

  .newExpense,
  .addBalance {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    min-width: 200px;
    border-radius: 14px;
  }

  .label {
    font-size: 14px; /* slightly bigger for desktop */
  }
}
